<%- include('../header') %>

<section class="tab-components">
  <div class="container-fluid">
    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="title">
            <h2>Add Sub Categoty </h2>
          </div>
        </div>
        <!-- end col -->
        <div class="col-md-6">
          <div class="breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#0">Dashboard</a>
                </li>
                <li class="breadcrumb-item"><a href="#0">Add Sub Categoty</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    Add Sub Categoty
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->

    <!-- ========== form-elements-wrapper start ========== -->
    <form method="post" action="/subcategory/editsubCategory" class="form-elements-wrapper">
      <div class="row">
        <div class="col-lg-6">
          <!-- input style start -->
          <div class="card-style mb-30">
            <h6 class="mb-25">Edit Sub Category</h6>
            <div class="input-style-1">
                <input type="hidden" value="<%= single.id%>" name="editid">
<select name="category" id="" class="form-select">
  <option value="">-----select-option--</option>
  <% category.map((cat)=>{ %>
    <option value="<%= cat?._id %>" <% if(cat?.category== single?.categoryid?.category){%> selected<% }%>>
        <%= cat?.category %>
    </option>
    <% }) %>
</select>

              <label> Edit SubcategoryName</label>
              <input type="text" name="subcategory" value="<%= single?.subcategory%>" placeholder="category">
            </div>
            <button type="submit" class="btn btn-primary">
              Add Sub Category
            </button>
          </div>
          <!-- ======= input switch style end ======= -->
        </div>
        <!-- end col -->
      </div>
      <!-- end row -->
    </form>
    <!-- ========== form-elements-wrapper end ========== -->
  </div>
  <!-- end container -->
</section>
<%- include('../foter') %>